body {
    /*padding-top: 5rem;*/
    font-family: 'proxima-nova', Georgia, sans-serif;
}

.center_button {
	text-align: center;
}

#hungrybutton {
	background-color: #f70000;
	color: #ffffff;
	margin-top: 2em;
    font-size: 2em;
}

#logo img {
	margin: 0 auto !important;
	padding-top: 20px;
}
#brand-header {
    background-color: #fec60d;
    padding: 0px;
    margin-top: 2em;
    margin-bottom: 2em;
}
