body {
    /*padding-top: 5rem;
    font-family: 'proxima-nova', Georgia, sans-serif;*/
}

#main {
    margin-top: 56px;
}

}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.center_button {
	text-align: center;
}

#hungrybutton {
	text-align: center;
	background-color: #f70000;
	color: #ffffff;
	margin-top: 2em;
    font-size: 2em;
}

#logo img {
	margin: 0 auto !important;
	padding-top: 20px;
}

#brand-header {
    background-color: #fec60d;
    text-align: center;
    padding-bottom: 2em;
    margin: 0 -15px 2em;
    radius: 0;
    border-radius: 0;
}
#brand-header > img {
    padding: 3em;
}
